{% extends "base.html" %}

{% block content %}

	<h2>List of Restaurants</h2>
	<ul>
		{% for item in restaurantlist %}
            <li>
                <a href="{% url 'resto:read' 'restaurant' item.id %}">{{ item.name }}</a>
                {% comment %} <button><a href="{% url 'resto:update' 'restaurant' item.id %}">Update</a></button> {% endcomment %}
                {% comment %} <button><a href="{% url 'resto:delete' 'restaurant' item.id %}">Delete</a></button> {% endcomment %}
            </li>
        {% empty %}<li>Sorry, no restaurants registered yet.</li>
		{% endfor %}
	</ul>
	<button><a href="{% url 'resto:create' 'restaurant' %}">Add Restaurant</a></button>

{% endblock %}