{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="banner-container">
            <img class="banner-img" src="/media/{{ obj.banner_image }}" alt="Card image cap">
            <h1>{{ title }}</h1>
            <p class="">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
        <p>{{ obj.user }}</p>
        <p>{{ obj.name }}</p>
        <p>{{ obj.address }}</p>
        <p>{{ obj.country }}</p>
        <p>{{ obj.phone }}</p>
        <p>{{ obj.category }}</p>
        <p>{{ obj.opening_hours }}</p>
        

        {% comment %} <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/media/{{ obj.banner_image }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div> {% endcomment %}

        <h2>List of Dishes</h2>
        <ul>
            {% for item in dishlist %}
                <li>
                    <a href="{% url 'resto:read' 'dish' item.id %}">{{ item.dish }}</a>
                    <button><a href="{% url 'resto:update' 'dish' item.id %}">Update</a></button>
                    <button><a href="{% url 'resto:delete' 'dish' item.id %}">Delete</a></button>
                </li>
            {% empty %}<li>Sorry, no dishes registered yet.</li>
            {% endfor %}
        </ul>
        <button><a href="{% url 'resto:create' 'dish' %}">Add Dish</a></button>	

        <h2>Reviews</h2>
        <ul>
            {% for item in reviewlist %}
                <li>
                    <a href="#">{{ item.user }}</a>
                    {% comment %} <button><a href="{% url 'resto:update' 'dish' item.id %}">Update</a></button>
                    <button><a href="{% url 'resto:delete' 'dish' item.id %}">Delete</a></button> {% endcomment %}
                    <p>{{ item.rating }}</p>
                    <p>{{ item.comment }}</p>
                </li>
            {% empty %}<li>This restaurant has not been reviewed yet.</li>
            {% endfor %}
        </ul>
        <button><a href="{% url 'resto:create' 'review' %}">Add Review</a></button>
    </div>
        {% comment %} <p><a href="{% url 'resto:index' %}"><&lt;Go back</a></p> {% endcomment %}

{% endblock %}