{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="banner-container">
                    <img class="banner-img" src="/media/{{ obj.banner_image }}" alt="Card image cap">
                    <div style="padding: 20px;">
                        <h1>{{ title }}</h1>
                        <p>{{ obj.address }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <h3 style="margin-top: 13px;">Overview</h3>
                <div class="bg-box overview">
                    <h4>Phone</h4>
                    <a href="#"><p>{{ obj.phone }}</p></a>
                    <h4>Category</h4>
                    <p>{{ obj.category }}</p>
                    <h4>Country</h4>
                    <p>{{ obj.country }}</p>
                    <h4>Opening Hours</h4>
                    <p>{{ obj.opening_hours }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="clearfix">
                    <div style="float: left; margin-bottom: 20px;">
                        <h3>Dishes</h3>
                        <h5>This provides the selection of dishes by {{ obj.name }}</h5>
                    </div>
                    <a style="float: right;" class="review-btn secondary-btn text-uppercase transition" href="{% url 'resto:create' 'dish' %}" role="button">Add A Dish</a>
                </div>
                {% comment %} <a href="{% url 'resto:read' 'dish' item.id %}">{{ item.dish }}</a>
                <button><a href="{% url 'resto:update' 'dish' item.id %}">Update</a></button>
                <button><a href="{% url 'resto:delete' 'dish' item.id %}">Delete</a></button> {% endcomment %}
                {% for items in dishlist %}
                    <h4 class="category">{{ items.category }}</h4>
                    <div class="bg-box">
                        {% for item in dishlist %}
                            <div class="row">
                                {% if item.category == items.category %}
                                    <div class="col-sm-6">
                                        <div class="clearfix">
                                            <div style="float: left;">
                                                <p class="font-weight-bold">{{ item.dish }}</p>
                                                <p>{{ item.description }}</p>
                                            </div>
                                                <p class="font-weight-bold" style="float: right;">{{ item.price }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% empty %}
                    <div class="bg-box" style="padding: 20px;">
                        <p>Sorry, no dishes registered yet.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="clearfix">
                    <div style="float: left;">
                        <h3>Reviews</h3>
                        <h5>Help other grubbers by sharing your review of {{ obj.name }}</h5>
                    </div>
                    <a style="float: right;" class="review-btn secondary-btn text-uppercase transition" href="{% url 'resto:create' 'review' %}" role="button">Write A Review</a>
                </div>
                {% for item in reviewlist %}
                    <div class="bg-box" style="padding: 20px;">
                        <div class="clearfix">
                            <img class="rounded-circle review-img" style="float: left;" src="{{ item.user.userprofile.image.url }}">
                            <div style="float: left; margin-left: 10px;">
                                <a style="font-weight: bold; color: #000;" href="{% url 'resto:read' 'review' item.id %}">{{ item.user }}</a>
                                <p style="font-size: 12px;">{{ item.created_at }}</p>
                                <div class="clearfix">
                                    <p style="float: left; margin-right: 10px;">
                                        {% comment %} I tried for loop but I dont have time and 'int is not iterable' :( {% endcomment %}
                                        {% if item.rating == 5 %}
                                            <span class="oi oi-star active-star"></span><span class="oi oi-star active-star"></span><span class="oi oi-star active-star"></span><span class="oi oi-star active-star"></span><span class="oi oi-star active-star"></span>
                                        {% elif item.rating == 4 %}
                                            <span class="oi oi-star active-star"></span><span class="oi oi-star active-star"></span><span class="oi oi-star active-star"></span><span class="oi oi-star active-star"></span><span class="oi oi-star inactive-star"></span>
                                        {% elif item.rating == 3 %}
                                            <span class="oi oi-star active-star"></span><span class="oi oi-star active-star"></span><span class="oi oi-star active-star"></span><span class="oi oi-star inactive-star"></span><span class="oi oi-star inactive-star"></span>
                                        {% elif item.rating == 2 %}
                                            <span class="oi oi-star active-star"></span><span class="oi oi-star active-star"></span><span class="oi oi-star inactive-star"></span><span class="oi oi-star inactive-star"></span><span class="oi oi-star inactive-star"></span>
                                        {% elif item.rating == 1 %}
                                            <span class="oi oi-star active-star"></span><span class="oi oi-star inactive-star"></span><span class="oi oi-star inactive-star"></span><span class="oi oi-star inactive-star"></span><span class="oi oi-star inactive-star"></span>
                                        {% endif %}
                                    </p>
                                    <p style="float: left;">{{ item.comment }}</p>
                                </div>
                            </div>
                        </div>
                        {% comment %} <button><a href="{% url 'resto:update' 'review' item.id %}">Update</a></button>
                        <button><a href="{% url 'resto:delete' 'review' item.id %}">Delete</a></button> {% endcomment %}
                    </div>
                {% empty %}<p>Be the first to review {{ obj.name }}! :D</p>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}