
body {background-color: #f8f9fa;}
p {margin: 0;}
h3 {margin: 3px 10px;}
h5 {color: #7C7C7D; font-weight: 400; margin: 0 10px; font-size: 18px;}
a {text-decoration: none !important; color: #EC5F2A;}
a:hover {color: #D7592D;}
ul {list-style-type: none;}

.primary-align {margin: 0 10px;}
.primary-margin {margin-bottom: 20px;}

.main-btn {text-decoration: none !important; text-align: center; margin: auto; padding: 10px 20px;}
.review-btn {text-decoration: none !important; text-align: center; margin: auto; padding: 8px 12px; margin-right: 10px;}
.primary-btn {color: #fff; background-color: #EC5F2A; border-radius: 5px;  margin-top: -2px;}
.primary-btn:hover {color: #F2F2F2; background-color: #D7592D;}
.secondary-btn {color: #fff; background-color: #099E44; border-radius: 5px; }
.secondary-btn:hover {color: #F2F2F2; background-color: #088F41;}

.bg-box {background: #FFF; padding: 10px; margin: 20px 10px; border: 1px solid #E5E5E5; border-radius: 5px;}

nav .navbar-nav .nav-item {font-weight: bold;}

footer {padding-top: 30px;}

/* templates/index.html */
header.masthead {margin-bottom: 50px; background: no-repeat center center; background-color: #868e96; background-attachment: scroll; position: relative; background-size: cover;}
header.masthead .overlay {position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: #212529; opacity: 0.5;}
header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {padding: 200px 0 150px; color: white;}
@media only screen and (min-width: 768px) {
    header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {padding: 200px 0;}
}
header.masthead .page-heading, header.masthead .site-heading {text-align: center;}
header.masthead .page-heading h1, header.masthead .site-heading h1 {font-size: 50px; margin-top: 0;}
header.masthead .page-heading .subheading, header.masthead .site-heading .subheading {font-size: 24px; font-weight: 300; line-height: 1.1; display: block; margin: 10px 0 0; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
@media only screen and (min-width: 768px) {
    header.masthead .page-heading h1, header.masthead .site-heading h1 {font-size: 80px;}
}
header.masthead .post-heading h1 {font-size: 35px;}
header.masthead .post-heading .meta, header.masthead .post-heading .subheading {line-height: 1.1; display: block;}
header.masthead .post-heading .subheading {font-size: 24px; font-weight: 600; margin: 10px 0 30px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
header.masthead .post-heading .meta {font-size: 20px; font-weight: 300; font-style: italic; font-family: 'Lora', 'Times New Roman', serif;}
header.masthead .post-heading .meta a {color: #fff;}
@media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {font-size: 55px;}
    header.masthead .post-heading .subheading {font-size: 30px;}
}

a.searchnow-btn {background: #EC5F2A; color: #FFF; padding: 15px 30px; border-radius: 5px; position: relative; top: 25px;}
a.searchnow-btn:hover {background: #D7592D; color: #F2F2F2;}

div.meal-container {margin: 10px 0;}
a img.meal-icon {width: 55px; height: auto; display: block; margin: 0 auto;}
a p.meal-text {text-align: center; color: #7C7C7D; margin-top: -8px;}

/* about.html */
.about-img {border-radius: 5px; margin: 0 10px;}

/* profile.html */
.account-img {display: inline-block; width: 100px; height: 100px; border-radius: 50%; object-fit: cover;}

/* restaurants/index.html */
.card-img-top {height: 150px; object-fit: cover;}
.card-body {padding: 5px 10px;}

/* read.html */
.banner-container {background: #FFF; margin: 20px 10px; border: 1px solid #E5E5E5; border-radius: 5px;}
.banner-img {object-fit: cover; width: 100%; height: 300px; margin: 0 auto; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.overview p {margin-bottom: 16px;}
.review-img {display: inline-block; width: 50px; height: 50px; border-radius: 50%; object-fit: cover;}
.active-star {color: #EFC844;}
.inactive-star {color: #E3E2E5;}
.category {margin: 0 10px;}

/* general */
.transition {transition: 0.2s;}
.opaque-hover:hover {opacity: 0.6;}

