{% extends "base.html" %}
{% load static %}

{% block content %}

	{% comment %} <div class="container"> {% endcomment %}
		{% comment %} <img class="header-img img-fluid" src="{% static 'images/wine-toast.jpg' %}"> {% endcomment %}
	{% comment %} </div> {% endcomment %}

	{% comment %} <div class="landing-img" style="background-image: url({% static 'images/wine-toast.jpg' %})"></div> {% endcomment %}

	<!-- Page Header -->
    <header class="masthead" style="background-image: url({% static 'images/wine-toast.jpg' %})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Grub</h1>
              <span class="subheading">Find a restaurant to grub!</span>
            </div>
          </div>
        </div>
      </div>
    </header>

	<div class="container">
		{% if user.is_authenticated %}
			<h1>Welcome {{ user.username }}!</h1>
			<p><a href="{% url 'bauth:logout' %}">Log out</a></p>
		{% else %}
			<h1>Hello World!</h1>
		{% endif %}

		<h3>Our Satisfied Grubbers!</h3>
	</div>

	

{% endblock %}