{% extends "base.html" %}
{% load static %}

{% block content %}

    <header class="masthead" style="background-image: url({% static 'images/wine-toast.jpg' %})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Grub</h1>
              <span class="subheading">Find a place to grub!</span>
			  <a class="searchnow-btn text-uppercase transition" href="{% url 'resto:index' %}" role="button">Browse Restaurants</a>
            </div>
          </div>
        </div>
      </div>
    </header>

	<div class="container">
		<h3>Quick Searches</h3>
		<h5>Discover restaurants by type of meal</h5>
		<div class="bg-box">
			<div class="row">
				<div class="col-6 col-sm-2 opaque-hover meal-container">
					<a href="#">
						<img class="meal-icon transition" src="{% static 'images/icons/breakfast.png' %}">
						<p class="meal-text transition">Breakfast</p>
					</a>
				</div>
				<div class="col-6 col-sm-2 opaque-hover meal-container">
					<a href="#">
						<img class="meal-icon transition" src="{% static 'images/icons/lunch.png' %}">
						<p class="meal-text transition">Lunch</p>
					</a>
				</div>
				<div class="col-6 col-sm-2 opaque-hover meal-container">
					<a href="#">
						<img class="meal-icon transition" src="{% static 'images/icons/dinner.png' %}">
						<p class="meal-text transition">Dinner</p>
					</a>
				</div>
				<div class="col-6 col-sm-2 opaque-hover meal-container">
					<a href="#">
						<img class="meal-icon transition" src="{% static 'images/icons/drinks.png' %}">
						<p class="meal-text transition">Drinks</p>
					</a>
				</div>
				<div class="col-6 col-sm-2 opaque-hover meal-container">
					<a href="#">
						<img class="meal-icon transition" src="{% static 'images/icons/cafes.png' %}">
						<p class="meal-text transition">Cafes</p>
					</a>
				</div>
				<div class="col-6 col-sm-2 opaque-hover meal-container">
					<a href="#">
						<img class="meal-icon transition" src="{% static 'images/icons/desserts.png' %}">
						<p class="meal-text transition">Desserts</p>
					</a>
				</div>
			</div>
		</div>

		{% comment %} <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/media/{{ obj.banner_image }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div> {% endcomment %}

		<h3>Newest Restaurants</h3>
		<h5>Restaurants that were recently added</h5>
		<div class="row primary-align d-flex justify-content-center" style="margin: 0 -5px;">
            {% for item in restaurantlist reversed %}
			<div class="col-md-6 col-lg-4 opaque-hover">
				<a style="margin: 10px 5px;" href="{% url 'resto:read' item.name item.id %}">
					<div class="card transition">
						<img class="card-img-top" src="/media/{{ item.banner_image }}" alt="Card image cap">
						<div class="card-body">
							<p class="card-text" style="font-weight: 500; font-size: 18px; color: #000;">{{ item.name }}</p>
							<p class="card-text" style="font-weight: 400; font-size: 12px; color: #7C7C7D;">{{ item.description }}</p>
						</div>
					</div>
				</a>
			</div>
            {% empty %}
            <div class="bg-box" style="padding: 20px; width: 95%;">
                <p>Sorry, no restaurants registered yet.</p>
            </div>
            {% endfor %}
        </div>

		<h3>Our Satisfied Grubbers!</h3>
		<h5>The top reviewers and bloggers who use Grub</h5>
		<div class="container">
			<div class="row">
				<div class="bg-box col-md"></div>
				<div class="bg-box col-md"></div>
				<div class="bg-box col-md"></div>
			</div>
		</div>
	</div>

	

{% endblock %}